@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.listButtons {
    display: flex;
    gap: 6px;
    max-width: 810px;
    overflow: auto;
    padding-bottom: 10px;
}

.listButtons::-webkit-scrollbar {
    height: 12px;
}
.listButtons::-webkit-scrollbar-track {
    background: #444625;
    border-radius: 10px;
}
.listButtons::-webkit-scrollbar-thumb {
    background-color: rgb(196, 187, 187);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid #4d502a;
}

.shadowWrapper {
    position: relative;
}

.shadowWrapper::before {
    content: "";
    display: block;
    height: 35px;
    width: 155px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,rgba(19, 29, 19, 0.98) 24%, rgba(86, 88, 49, 0.11) 47%);
    pointer-events: none;
}

.shadowWrapper::after {
    content: "";
    display: block;
    height: 35px;
    width: 155px;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(-90deg,rgba(19, 29, 19, 0.98) 24%, rgba(86, 88, 49, 0.11) 47%);
    pointer-events: none;
}


.button {
    background-color: #565831;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: 160px;
    width: max-content;
    justify-content: center;
    border: #3f4122 2px solid;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 6px 4px;
    flex-shrink: 0;
}

@media(max-width: 1200px) {
    .shadowWrapper{
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        padding: 100px 40px 40px;
        background-color: #1c291ca2;
        backdrop-filter: blur(4px);
        transform: translateX(-100%);
        transition: 0.5s;
    }

    .shadowWrapper::before, .shadowWrapper::after {
        display: none;
    }

    .shadowWrapperActive {
        transform: translateX(0);
        border-radius: 0 12px 12px 0;
    }

    .listButtons {
        flex-direction: column;
        gap: 35px;
        height: 80vh;
        padding-bottom: 0;
        padding-right: 8px;
    }

    .listButtons::-webkit-scrollbar {
        width: 12px;
    }
    .listButtons::-webkit-scrollbar-track {
        background: #444625;
        border-radius: 10px;
    }
    .listButtons::-webkit-scrollbar-thumb {
        background-color: rgb(196, 187, 187);    /* цвет плашки */
        border-radius: 20px;       /* закругления плашки */
        border: 3px solid #4d502a;
    }

    .button {
        min-width: 200px;
        padding: 12px 8px ;
    }
}

@media(max-width: 500px) {
    .listButtons{
        width: 100%;
        padding: 0;
        align-items: center;
        border-radius: 0;
    }

    .button {
        max-width: 300px;
    }
}
