@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');
.imgList {
    margin: 0 auto;
display: grid;
gap: 35px;
grid-template-columns: repeat(3, minmax(250px, 1fr));
grid-auto-rows: repeat(8, 600px);
grid-template-rows: repeat(4, 600px);
justify-content: center;
padding: 20px;
}

.imgListItem {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background-color: #5554549f;
    backdrop-filter: blur(4px);
}

.imgListItem:hover .img {
    transform: translate(-50%, -50%) scale(1.1);
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.rateContainer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(46, 45, 45, 0.199);
    backdrop-filter: blur(5px);
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    border-radius: 6px;
}

.ageRate {
color: rgb(235, 235, 235);
font-family: "Roboto Mono", monospace;
font-size: 14px;
font-weight: 400;
}

.rateWrapper {
display: flex;
gap: 6px;
}

.imdbRate {
color: rgb(235, 235, 235);
font-family: "Roboto Mono", monospace;
font-size: 14px;
font-weight: 400;
}

.starContainer {
    width: 20px;
    height: 20px;
}

.infoContainer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(46, 45, 45, 0.199);
    backdrop-filter: blur(5px);
    width: 96%;
    border-radius: 6px;
    padding: 15px 10px;
}

.topContainer {
    display: flex;
    justify-content: space-between;
}

.nameContainer {
    text-align: center;
    color: rgb(235, 235, 235);
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    font-weight: 500;
}

.length {
color: rgb(235, 235, 235);
font-family: "Roboto Mono", monospace;
font-size: 12px;
font-weight: 400;
}

.createdYear {
color: rgb(235, 235, 235);
font-family: "Roboto Mono", monospace;
font-size: 12px;
font-weight: 400;
}

.tagsContainer {
color: rgb(235, 235, 235);
font-family: "Roboto Mono", monospace;
font-size: 12px;
font-weight: 400;
}

.tag {

}

.img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s
}

.imgSmall {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    object-fit: contain;
    transition: 0.5s;
}

@media (max-width: 1024px) {
.imgList {
grid-template-columns: repeat(2, minmax(250px, 1fr));
grid-template-rows: repeat(6, 600px);
}
}

@media (max-width: 550px) {
.imgList {
grid-template-columns: repeat(1, minmax(250px, 1fr));
grid-template-rows: repeat(12, 600px);
}
}